<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <title>Login</title>
</head>

<body>

<main>
    <header>
        <span id="title_login">Welcome to Meme-me </span>
    </header>

    <!-- Sign in form -->
    <div class="modal-container-signIn" id="signIn-container">
        <div class="modal-signIn" id="signIn-box">
            <div class="signIn-header">
                <h2 style="text-align:center">Please sign in...</h2>
            </div>

            <div class="signIn-content">
                <form action="/auth/login" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" class="btn-action" value="Login">

                    <div class="md-txt">
                        <p>Or...</p>
                    </div>

                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google+
                    </a>
                </form>
            </div>
            <div class="signIn-footer">
                <br>
                <span>Not a member yet?</span>
                <a id="btn-signUp"><b>Sign up</b></a>
            </div>
        </div>
    </div>

    <!-- Sign up form -->

    <div class="modal-container-signUp" id="signUp-container">
        <div class="modal-signUp" id="signUp-box">
            <div class="signUp-header">
                <h2 style="text-align:center">Sign up...</h2>
            </div>
            <div class="signUp-content">
                <form action="/auth/register" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 'username'){ %>
                        <span class="err-msg" id="err-username"><%= error.msg %></span>
                    <% }})} %>
                    <input type="text" name="firstname" placeholder="First name" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 'firstname'){ %>
                        <span class="err-msg" id="err-firstname"><%= error.msg %></span>
                    <% }})} %>
                    <input type="text" name="lastname" placeholder="Last name" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 'lastname'){ %>
                        <span class="err-msg" id="err-lastname"><%= error.msg %></span>
                    <% }})} %>
                    <input type="email" name="email" placeholder="jim.carrey@liarliar.com" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 'email'){ %>
                        <span class="err-msg" id="err-email"><%= error.msg %></span>
                    <% }})} %>
                    <input type="password" name="password" placeholder="Password" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 'password'){ %>
                        <span class="err-msg" id="err-password"><%= error.msg %></span>
                    <% }})} %>
                    <input type="password" name="re_enter_password" placeholder="Re-enter password" required>
                    <% if (typeof errors !== 'undefined'){errors.forEach(error => { if(error.param == 're_enter_password'){ %>
                        <span class="err-msg" id="err-re_enter_password"><%= error.msg %></span>
                    <% }})} %>
                    <input type="submit" value="Sign up" class="btn-action">
                </form>
            </div>
            <div class="signUp-footer">
                <br>
                <span>Already a member?</span>
                <a id="btn-signIn"><b>Login</b></a>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="js/login-fe.js"></script>

</body>
</html>